<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    
    <div class="card-container">
      <% codeBlocks.forEach(function(card) { %>
        <a href="code<%=card.id %>.html" class="card">
          <img src="<%= card.img %>" alt="<%= card.title %>">
          <div class="card-body">
            <h3><%= card.title %></h3>
            <p><%= card.description %></p>
          </div>
        </a>
      <% }); %>
         
</body>

</html>