<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Bootcamp Lobby</h1>
    <h4>A remote private school</h4>

<div class="card-container">
  <% codeblocks.forEach(function(codeblock) { %>
    <a href="/code/<%= codeblock.id %>" class="card" data-codeblock-id="<%= codeblock.id %>">
        <img src="<%= codeblock.img %>" alt="<%= codeblock.title %>">
        <div class="card-body">
            <h5 class="card-title"><%= codeblock.title %></h5>
            <p class="card-text"><%= codeblock.description %></p>
        </div>
    </a>
  <% }); %>
</div>

         
</body>

</html>